//
// Typography
//
$font-size-root : 16px;
$font-size-base : 1rem;
$font-family-sans-serif: "MuseoSans500",
Helvetica,
sans-serif;
$line-height-base : 1.5;
$font-family-Museo100: "MuseoSans100",
Helvetica,
sans-serif;
$font-family-Museo300: "MuseoSans300",
Helvetica,
sans-serif;
$font-family-Museo500: "MuseoSans500",
Helvetica,
sans-serif;
$font-family-Museo700: "MuseoSans700",
Helvetica,
sans-serif;
//
// Breakpoints
//
$sm-viewport: 560px;
$md-viewport: 760px;
$lg-viewport: 960px;
//
// Spacing
//
$spacer: 1rem;
// colors
$orange-color:#d27028;
$blue-color:#203868;
$blue-color-h1:#3a4863;